[submodule "flashcard_app"]
	path = flashcard_app
	url = git@github.com:ritika0308/flashcard_app.git
[submodule "Podcast_aggregator"]
	path = Podcast_aggregator
	url = git@github.com:ritika0308/Podcast_aggregator.git
[submodule "Movie_recommendation"]
	path = Movie_recommendation
	url = git@github.com:ritika0308/Movie_recommendation.git
[submodule "Twitter_sentiment_analysis"]
	path = Twitter_sentiment_analysis
	url = git@github.com:ritika0308/Twitter_sentiment_analysis.git
